%table.table.table-striped
  %tbody
    - movies.each_with_index do |movie, i|
      %tr
        %td= i + 1
        %td
          %img.img-rounded.movie-cover{ :style => "height: 200px",src: movie.cover_url }
        %td
          - if movie.rating.present?
            %h3.pull-right
              = movie.rating
          %h4
            = link_to movie.title, movie_path(movie)
          %p
            %strong
              =link_to movie.genre_name, movies_genre_path(movie.genre)
            = " (#{movie.released_at})"
          %p= movie.plot