%h1= @movie.title
%h2= "Rating: " + "#{@response["data"]["attributes"]["rating"]}"
%h3= "#{@response["data"]["attributes"]["plot"]}"
%br
%img(src="https://pairguru-api.herokuapp.com#{@response["data"]["attributes"]["poster"]}")
.jumbotron
  = @movie.description
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
  =render partial: 'comments/comment', locals: { movie: @movie}
  =render partial: 'comments/new', locals: { movie: @movie}